doctype html
html
	head
		- var date = new Date().getTime();
		meta(charset='utf-8')
		meta(http-equiv='x-ua-compatible' content='ie=edge')
		title Nagibaba starter Gulp BS
		meta(name='description' content='')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		link(rel='manifest' href='site.webmanifest')
		link(rel='apple-touch-icon' href='icon.png')
		// Place favicon.ico in the root directory
		// <link rel="stylesheet" type="text/css" href="libs/bootstrap/dist/css/bootstrap.min.css"> bootstrap is in main css
		link(rel='stylesheet' type="text/css" href=`./css/main/main.min.css?v=`+date)
		link(rel='stylesheet' type="text/css" href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
		link(rel='stylesheet' type="text/css" href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/css/swiper.min.css')
	body
		p.bg-danger.text-center.flexAlert.white Brovseriniz köhnədir. Lütfən müasir brovserlərdən birini yükləyin
		.container-fluid.full-height
			.container.flex-column.full-height.justify-content-between.d-flex

				.row.flex-row.mt-3
					.col-3.align-items-center.p-xs-0
						a(href="")
							img.img-fluid(src="./img/Group 10.svg", alt="", width="73px")
					.col-6.justify-content-center
						img.img-fluid.align-self-center(src="./img/Group 334.svg", alt="", width="192px")
					.col-3.justify-content-end
						div.align-items-center.position-relative
							button.btn.shopping-card.d-none.d-md-flex
								.shopping-card--icon
									img(src="./img/shopping-basket (1).svg", alt="")
									span.notification-circle 1
								span.shopping-card--text.mr-2 SƏBƏT
							include components/shopping_card_content
							form.search-form.mr-3(action="", title="Search with tracking number")
								.form-groudp.input-group
									input.col-sm-10.form-control.b-input.b-search-input#search(type='text', placeholder='Tracking number')

									.input-group-append
										label.col-sm-2.control-label.pm-0(for='search')
											i.fa.fa-map-marker
										
							.hamburger
								.top-bun.ham-line
								.meat.ham-line
								.bottom-bun.ham-line

				.b-nav.d-flex
					.container-fluid.flex-column.mt-4
						.row.mb-5.flex-shrink-0
							.col-6.b-nav__tab.b-nav__tab--first.justify-content-center.b-nav__tab--active
								a(href="#tab-1", class="nav-tab-button") MENYU 
							.col-6.b-nav__tab.b-nav__tab--second.justify-content-center
								a(href="#tab-2", class="nav-tab-button") HESABIM 

						//- .row.flex-shrink-0
						//- 	img(src="./img/Group 441.svg", alt="", class="img img-fluid")

						.container-fluid.flex-column.align-items-end.mt-4.pr-5.tab-content#tab-1
							a(href="").b-nav__item Necə işləyirik 
							a(href="").b-nav__item Qiymət cədvəli
							a(href="").b-nav__item Haqqımızda
							a(href="").b-nav__item Tez-tez verilən suallar
							a(href="").b-nav__item.b-nav__item--active Nümunə saytlar
							a(href="").b-nav__item Xəbərlər və yeniliklər
							a(href="").b-nav__item Daşınma şərtləri
							a(href="").b-nav__item Sifariş et xidmət şərtləri
							a(href="").b-nav__item Gizlilik siyasəti
							a(href="").b-nav__item Tracking Number

						//- .container-fluid.flex-column.align-items-end.mt-4.pr-5.tab-content#tab-2
						//- 	a(href="").b-nav__item Xaricdəki ünvanlarım
						//- 	a(href="").b-nav__item Ünvanlarım
						//- 	a(href="").b-nav__item Sifarişlərim
						//- 	a(href="").b-nav__item Balansım
						//- 	a(href="").b-nav__item Sorğular
						//- 	a(href="").b-nav__item İsmarışlar
						//- 	a(href="").b-nav__item Şəxsi məlumatlar
						//- 	a(href="").b-nav__item Son 30 gün tarixcə
						//- 	a(href="").b-nav__item Kuryer sifarişi
						//- 	a(href="").b-nav__item Çıxış


						.container-fluid.flex-column.mt-4.tab-content#tab-2
							h1.text-center GİRİŞ
							
							.row.mt-4
								.col-6.justify-content-center.pr-1
									button.btn.btn-light.ml-1.simple-button.mt-1.fullWidth(type='button')
										i.social-login.fa.fa-google-plus(style="color: #F34A38")
							
								.col-6.justify-content-center.pl-1
									button.btn.btn-light.ml-1.simple-button.mt-1.fullWidth(type='button')
										i.social-login.fa.fa-facebook(style="color: #385C8E")
							
							.row.mt-4
								.col-12
									.form-group.fullWidth
										//- label(for='exampleFormControlInput1') Email
										input.form-control.b-input(type='email', placeholder='fizza@gmail.com', autofocus)

							.row
								.col-12
									.form-group.fullWidth
										//- label(for='exampleFormControlInput1') Email
										input.form-control.b-input(type='password', placeholder='********', autofocus)

							.row
								.col-12.justify-content-center
									button.btn.btn-warning.main-button(type='submit') Daxil ol

							p.text-center
								a(href="").forgot-pass__link Şifrəmi unutdum

							.container-fluid.account-info.mt-5
								.row.justify-content-center
									p.account-info__ask Hələ də hesabın yoxdur? O zaman
								.row.justify-content-center
									a(href="").account-info__register QEYDİYYATDAN KEÇ
								.row.justify-content-center
									a(href="").account-info__company-register Hüquqi şəxslər üçün Qeydiyyat

						.container.mt-5.justify-content-center
							a(href="").lang
								span RU
							a(href="").lang 
								span AZ
							a(href="").lang.lang--active
								span EN

				block unique-content
		
				.row.b-footer.pt-5.pb-2
					.col-md-6
						p.copyright-text Copyright 2018. Developed by Fizza team.
					.col-md-6.justify-content-md-end.justify-content-xs-center
						a.social-icon(href="")
							i.fa.fa-facebook
						a.social-icon(href="")
							i.fa.fa-twitter
						a.social-icon(href="")
							i.fa.fa-instagram


		//- img(src="./img/Path 33.svg", alt="").footer-img
		script(src='js/all.js?v='+date)
		script(src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/js/swiper.min.js')
