.letter {
	flex: 1 0 0;
    height: 27px;
    padding-left: 6px;
    padding-right: 6px;
    margin: 15px 5px 15px 0;
    line-height: 25px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #F0F1F1;
    font-family: 'CirceRounded';
    font-size: 15px;
    transition: .3s;

    &-more {
		padding-right: 12px;
		padding-left: 12px;
    }

    &--dark {
    	margin-bottom: 5px;
    	margin-right: 0;
    	border-radius: 3px;
    	background-color: #DDDDDD;
    }	

	&:not(.letter--dark) {
		cursor: pointer;

		&:hover, &.active {
			background-color: #4E94F8;
			color: #fff;
		}
	}

	&:not(.letter--dark):not(.letter-more) {
		max-width: 25px;
	}

	&-wrapper {

		@media(max-width: 991px) {
			flex-wrap: wrap;
		}
	}
}

.shop {
	flex: 1 0 calc(20% - 20px);
	height: 24px;
	margin: 0 3px 5px 2px;
	padding-left: 12px;
    padding-right: 12px;
	line-height: 24px;
    background-color: #F0F1F1;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 12px;
    font-family: 'CirceRounded';
    transition: .3s;

    &-wrapper {
    	display: flex;
    	flex-wrap: wrap;
    	margin-left:  -2px;
    	margin-right: -3px;
    }

    &:hover, &.active {
		background-color: #4E94F8;
		color: #fff;
	}

	&-search {

		@media(max-width: 767px) {
			flex-wrap: wrap;
		}

		&-input {
			height: 31px;
		}

		&-button {
			height: 30px;
			line-height: 16px;
			font-family: 'CirceRounded';
			font-size: 15px;

			@media(min-width: 991px) {
				margin-left: 5px;
			}

			@media(max-width: 767px) {
				width: 100%;
				margin-top: 10px;
			}
		}
	}

	@media(max-width: 991px) {
		flex: 1 0 calc(25% - 15px);
	}
}