.bg
	background: red
a
	color: inherit
	transition: .4s color
	&:hover
		color: $light-black
		text-decoration: none
	
div
	display: inherit
	flex-shrink: 0

.y-hidden
	overflow-y: hidden
	position: relative
	height: 100%

html, body, .full-height
	// box-sizing: content-box
	-webkit-overflow-scrolling: touch
	min-height: 100vh

html, body
	overflow-x: hidden	
	

html
	width: 100vw
	margin-right: calc(100vw - 100%)
	transition: .1s all
	
	

		// &::-webkit-scrollbar-thumb 
	 //    	background-color: transparent
body
	width: 100%
	font-family: $font-family
	color: $light-black
	// word-break: break-word
	
	// overflow-y: auto
	// transition: .4s all

.scroll-to-top
	min-width: unset
	

.fixed-round-pay-button
	position: fixed
	width: 70px
	height: 70px
	border-radius: 60px
	right: 20px
	bottom: 96px
	padding: 0px
	box-shadow: 0 0 0 0 mainColor(.7)
	animation: pulseShadow 2s infinite cubic-bezier(0.66, 0, 0, 1)
	z-index: 1

@keyframes pulseShadow 
	to 
		box-shadow: 0 0 0 45px mainColor(0)


	
.shopping-card
	// margin-right: 20px
	cursor: pointer
	padding: 10px
	&--active
		background-color: #F8F8F8
		
		border-radius: 14px
		box-shadow: 0 0 15px rgba(0, 0, 0, .15)
	&--icon
		position: relative
	&--text
		@extend .ml-2
		font-weight: bold

		


.notification-circle
	width: 20px
	height: 20px
	border-radius: 20px
	padding-top: 2px
	background-color: $main-color
	font-size: 10px
	font-weight: bold
	text-align: center
	border: 1px solid white
	position: absolute
	right: -3px
	top: 3px


.lang
	@extend .d-flex, .fullCenter, .ml-2
	width: 52px
	height: 52px
	border-radius: 52px
	box-shadow: 0 0 6px
	background-color: white

	&--active
		box-shadow: none
		background-color: $main-color



.b-header
	font-size: 28px
	font-weight: bold
	text-align: center
	&--large
		font-size: 40px


.inputs-wrapper
	
	width: 1012px
	max-width: 100%
	border-radius: 10px
	// box-shadow: 0 0 15px rgba(0,0,0,.16)
	&--small
		border-radius: 7px
	&--shopping
		display: none
		position: absolute
		top: 50px
		right: 30px
		max-height: calc( 100vh - 100px )
		overflow-y: auto
		z-index: $zindex-popover	
		width: auto
		max-width: initial
		box-shadow: 0 0 15px rgba(0,0,0,.16)
		background-color: #F8F8F8
		& th
			font-size: 15px
			font-weight: bold
			color: #B1B1B1
			white-space: nowrap
    		vertical-align: middle
		& tbody th
			font-size: 12px
			vertical-align: middle
		& td
			font-size: 12px
			color: $light-black
			vertical-align: middle
	&--white
		width: 1105px
		background-color: #ffffff
	&--material
		// box-shadow: 0 0 15px rgba(0,0,0,.16)
		// border: 1px solid #ddd
		box-shadow: 0 3px 6px rgba(217, 230, 255, 0.16), 0 3px 12px rgba(234, 233, 234, 1)

.b-popup
	.inputs-wrapper
		box-shadow: none




		

	&__metric
		// width: auto
		width: 100%
		&--first
			max-width: 428px
		&--second
			// max-width: 428px


.table
	& td, & th
		border-top: 1px solid rgba(112, 112, 112, .1)
		vertical-align: middle
	& thead th
		border-bottom: none
	&--borderless td, &--borderless th
		border: none!important
	&--address
		border-spacing: 0
		margin-bottom: 0
		
		& th, & td
			
			border-collapse: collapse
			// padding: 0
			text-align: left
		& th
			color: #BEBEBE

	&--nowrap
		white-space: nowrap
	&--nowrap-td td
		white-space: nowrap
	& .borderBottom
		border-bottom: 1px solid #E6E6E6
	& .thinBorder
		border-bottom: 1px solid rgba(112, 112, 112, .1)
	&--textCenter th, &--textCenter td
		@extend .text-center
.link-thumbnail
	@extend .mr-2
	border: 2px solid transparent
	width: 70px
	height: 70px
	border-radius: 70px
	position: relative
	cursor: pointer
	transition: .4s border
	& img
		width: 66px
		height: 66px
		border-radius: 66px
	&:after
			@extend .fullCenter
			content: '\00d7'
			// font-family: FontAwesome
			font-size: 20px
			background: $main-color
			color: white
			width: 24px
			height: 24px
			border-radius: 50%
			border: 1px solid white
			position: absolute
			right: -4px
			top: -4px
			opacity: 0
			transition: .4s opacity

	&:hover
		border: 2px solid $main-color 
		&:after
			opacity: 1
		
.order-thumb
	border: 2px solid transparent
	width: 70px
	height: 70px
	border-radius: 70px
	position: relative
	cursor: pointer
	transition: .4s border
	border-radius: 66px
	border: 2px solid $main-color


.form-group
	@extend .mr-2, .flex-column
	position: relative
	font-size: 15px
	font-weight: normal
	color: $light-black
	& label
		position: absolute
		top: -22px
		width: 100%
		text-align: center
.b-input
	flex-grow: 1
	border-radius: 3px
	border: 1px solid #d8d8d8
	font-size: 18px
	height: 45px
	max-height: 45px
	font-family: $font-family
	&__button
		background-color: $main-color
		height: 45px
		max-height: 45px
		border-radius: 0 10px 10px 0
	&--limitless
		max-height: unset
		height: auto
.b-dropzone
	border-radius: 3px
	height: 100%

.b-textarea
	flex-grow: 1
	border-radius: 10px
	border-color: #d8d8d8
	font-size: 18px
	// height: 45px
	// max-height: 45px
	font-family: $font-family

	&:focus
		border-color: $main-color
		box-shadow: none
.corrier-price

	@extend .fullCenter, .mx-2
	border-radius: 10px
	border-color: #F0F0F0
	height: 45px
	background-color: #F4F4F4
	font-size: 20px
	font-weight: bold
	width: 100%
	max-width: 72px

.footer-img
	position: fixed
	width: calc( 100% + 300px )
	bottom: -100px
	z-index: -1
	left: -150px
	right: -150px

select.form-control
	appearance: none
	background: white url("../../img/down-arrow.svg") no-repeat calc(100% - 10px) !important
	overflow: hidden
	width: auto
	&.is-invalid
		background: white url("../../img/down-arrow-error.svg") no-repeat calc(100% - 10px) !important

.b-footer
	// width: 1012px
	// max-width: 100%

.align-center
	align-self: center


.form-check
	user-select: none
	min-width: 144px
	max-width: 100%
	background-color: white
	border: 1px solid #F4F4F4
	border-radius: 10px
	padding-left: 0
	text-align: center
	&--small
		min-width: 0
	&-label
		font-size: 15px
		font-weight: normal

	&-input
		border-color: $main-color
	&__urgent-price
		@extend .fullCenter
		font-size: 13px
		color: $main-color
		border-left: 1px solid #F4F4F4

	&--lg
		width: 566px




.form-check-input
  + label
    display: block

    cursor: pointer
    padding: 0.2em
    &:before
      display: inline-block
      content: "\2713"
      border: 1px solid $main-color
      border-radius: 5px
      width: 20px
      height: 20px
      padding: 0
      vertical-align: middle
      box-sizing: content-box
      color: transparent
      transition: .2s
  &--flex
    & + label
      &:before
        display: flex
        justify-content: center
        align-items: center
    &:active:before
      transform: scale(0)
  display: none
  &:checked + label:before
    background-color: $main-color
    border-color: $main-color
    color: #fff
  &:disabled + label:before
    transform: scale(1)
    border-color: #aaa
  &:checked:disabled + label:before
    transform: scale(1)
    background-color: #bfb
    border-color: #bfb



.simple-button
	min-width: 144px
	max-width: 100%

	background-color: white
	border: none
	border-radius: 10px
	box-shadow: 0 0 15px rgba(0,0,0, .16)

.tracking-button
	font-size: 15px
	color: #CBCBCB
	text-decoration: underline
.main-button
	padding-left: 30px
	padding-right: 30px
	min-width: 180px
	background-color: $main-color
	color: $light-black
	border-color: transparent!important
	border-radius: 3px
	font-size: 20px
	font-weight: bold

.customer-key
	padding-left: 30px
	padding-right: 30px
	padding-top: $input-btn-padding-y
	padding-bottom: $input-btn-padding-y
	min-width: 180px
	border: 1px solid $main-color
	border-radius: 3px
	font-size: 20px
	font-weight: bold

.b-search-input
	width: 100%
	// max-width: 0
	height: 30px!important
	// opacity: 0
	padding-left: $input-btn-padding-x
	overflow: hidden
	border-radius: 10px
	border-color: $main-color
	height: 45px
	font-family: $font-family
	border-color: $main-color
	transition: .5s all
	&:focus
		max-width: 150px
		opacity: 1
		padding-left: $input-btn-padding-x
		border-color: $main-color
		box-shadow: none
		outline: none


.slider-wrapper
	width: 500px
	height: auto
	max-width: 100%
	// overflow: hidden
	// box-shadow: 0 0 15px rgba(0,0,0,.16)
	border-radius: 33px

.swiper-container
	width: 100%
	
	
	
.swiper-slide, .swiper-pagination
	@extend .fullCenter

.swiper-slide
	box-shadow: 0 0 15px rgba(0,0,0,.16)
.b-slider
	&-card
		width: 100%
		// border-radius: 33px
		// overflow: hidden
		position: relative
		&:hover .b-slider-header
			color: white
			transform: scale(1.02)
			top: 0
	&-image
		margin-top: -30px
		z-index: -1
		transform: scale(1.5)
	&-header
		position: absolute
		top: 200px
		bottom: 0
		right: 0
		left: 0
		width: 100%
		background-color: rgba(0, 0, 0, .8)
		color: white
		text-align: center
		padding-top: 1.5rem
		padding-bottom: 2rem
		padding-left: 10px
		padding-right: 10px
		transition: .4s all

	&__img
		object-fit: cover	
		border-radius: 33px
		// overflow: hidden


.swiper-button-prev
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23#{$main-color-nude}'%2F%3E%3C%2Fsvg%3E") !important
	opacity: .5
	transition: .4s opacity
	&:hover
		opacity: 1

.swiper-button-next
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23#{$main-color-nude}'%2F%3E%3C%2Fsvg%3E") !important
	opacity: .5
	transition: .4s opacity
	&:hover
		opacity: 1
.swiper-pagination-bullet-active
	background-color: $white-gray!important

.img-responsive
	@extend .img-fluid
	width: 100%

.social-icon
	@extend .px-3
	font-size: 20px
	color: $main-color
	&:first-of-type
		@extend .pl-0
	&:last-of-type
		@extend .pr-0




.btn
	&-icon
		@extend .px-1, .mr-1, .d-flex, .flex-column, .fullCenter
		font-size: 10px
		color: $main-color
		transition: .2s transform
		&--address
			font-size: 15px
		&:focus, &:active
			box-shadow: none
			// transform: scale(1.2)
			// transform: translateY(5px)
		&:hover
			color: $main-color
			transform: scale(1.2)
	&-light
		color: $light-black


.gender-radiogroup
	& input
		display: none
		&:checked + span
			background-color: $main-color
			color: white
	& label
		cursor: pointer
		width: 100%
		text-align: center
		border-radius: 10px
		& span
			@extend .py-2
			border-radius: 10px
			background-color: #F7F7F7
			display: block
			transition: .4s all
.payment-radiogroup
	&--first

		& label
			& div
				background-image: url('../../img/Group 450.svg')
		& input
			&:checked + div
				background-image: url('../../img/Group 451.svg')
		
	&--second

		& label
			& div
				background-image: url('../../img/Group 452.svg')
		& input
			&:checked + div
				background-image: url('../../img/Group 453.svg')
		

	& input
		display: none
		
	& label
		cursor: pointer
		// width: 100%
		& div
			background-size: stretch
			width: 92px
			height: 92px
			// background-color: red
			transition: .4s all

.rules-warn
	font-size: 15px
	font-weight: bold

.fa.social-login
	font-size: 20px

.forgot-pass
	&__link
		font-size: 12px
		text-decoration: underline
		color: $main-color
		transition: .4s color
		&:hover
			color: $light-black

.account-info
	@extend .flex-column
	font-size: 15px
	font-weight: bold
	color: $main-color

	&__ask
		font-weight: normal
		color: #BEBEBE
	&__company-register
		text-decoration: underline
		text-align: center

	

.b-news
	@include shadow(1)
	width: 284px
	max-width: 100%
	// height: 100px
	border-radius: 10px
	overflow: hidden
	transition: transform 250ms, box-shadow 250ms
	// -webkit-transform: translate3d(0,0,0)
	&--sample
		@extend .d-flex, .flex-column, .fullCenter, .py-4
		width: 267px

	&:hover,&:focus
		@include shadow(3);
		transform: translateY(-5px)
	&:active
		@include shadow(2);
		transform: translateY(-2px) 
	&__img
		border-radius: 10px
	&__info
		padding-top: 9px
		padding-left: 12px
		padding-right: 12px
	&__title
		font-weight: bold
		font-size: 15px
	&__paragraph
		font-size: 12px
	&__date
		font-size: 12px	
		color: #CECECE
		padding: 0 0 5px 0
		margin: 0
		text-align: right


.news1-img
	width: 552px
	height:auto
	border-radius: 10px
	&__wrapper
		display: inline-block
		float: left
		border-radius: 10px
		padding: 0 20px 20px 0
	&__date
		text-align: right
		font-size: 15px
		color: #CECECE



.b-faq
	@include shadow(1)
	width: 100%
	border-radius: 10px
	overflow: hidden
	transition: transform 250ms, box-shadow 250ms
	&:hover,&:focus
		@include shadow(3);
		transform: translateY(-5px)
	&:active
		@include shadow(2);
		transform: translateY(-2px) 
	&__img
		border-radius: 10px
	&__title
		font-weight: bold
		font-size: 15px
	

.blurry-background
	// will-change: filter, background-color
	// transition: .2s filter, background-color
	&--active
		
		// filter: blur(8px) brightness(70%)
		// background-color: rgba(0,0,0, .2)
		



.b-popup
	// opacity: 0
	// display: none
	// will-change: transform
	transform: scale(0)
	display: flex
	justify-content: center
	align-items: center
	position: fixed
	top: 0 
	bottom: 0
	left: 0
	right: 0
	width: 100vw
	
	z-index: $zindex-modal
	// background-color: rgba(0, 0, 0, .1)
	transition: .2s transform
	&--active
		transform: scale(1)
		// background-color: rgba(0, 0, 0, .1)
	&__inner
		flex-direction: column
		width: 858px
		max-width: 95%
		max-height: 80%
		border-radius: 10px
		background-color: white
		overflow: auto

	
.back-button
	position: absolute
	left: 0
	&__wrapper
		height: 57px




.copy
	@extend .mb-5
	&__key
		color: #BEBEBE
		font-size: 18px
		font-weight: bold
	&__value

		font-size: 20px
		font-weight: bold
	&__left
		max-width: 80%


.addAddress
	max-width: 50%
	&__icon
		width: 100px
		max-width: 100%
		height: auto
		transition: .4s all
	&:hover &__icon
		transform: rotate(180deg)

.addAddressIcon
	@extend .fullCenter
	position: absolute
	right: 0
	top: 0
	bottom: 0
	padding-left: 12px
	padding-right: 12px
	&__icon
		transition: .4s all
	&:hover &__icon
		transform: rotate(180deg)



.custom-file-label.b-input::after
	content: 'Seç'
	height: 43px
	border-radius: 10px
	padding-left: 50px
	padding-right: 50px


.custom-file, .custom-file-input
	height: 45px

.custom-file
	margin-bottom: 1rem

.work

	&__col
		position: relative
		&--first
			padding-left: 0
			padding-right: 30px
			&:after
				content: url('../../img/Path 191.svg')
				position: absolute
				top: 31px
				right: -73px
		&--second
			padding-top: 159px
			&:after
				content: url('../../img/Path 192.svg')
				position: absolute
				right: -73px
				bottom: 26px
		&--last
			padding-top: 0px
			&:before
				content: url('../../img/Path 193.svg')
				position: absolute
				left: -73px
				top: 117px

	&__img
		background-color: white
		z-index: 8
		&--top
			margin-bottom: 35px
		&--bottom
			margin-top: 35px

	&__text
		&-wrapper
			& a
				text-decoration: underline

.my-order
	overflow-x: auto
	border: 1px solid $main-color
	border-radius: 10px
	min-height: 81px
	box-shadow: 3px 3px 20px #EAEAEA
	
	&__header
		border-bottom: 1px solid $main-color
	&__body
		word-break: break-word
		& span
			color: #6b757d
		& b
			color: #434343
	


.my-orders
	max-width: calc( 100% - 260px )
 
.select-all-row
	padding-left: $form-check-inline-margin-x


.orders-tab
	&__button
		border-color: #676767
		&--active
			background-color: #ececec
			// border: 1px solid #ececec
			& .badge
				background-color: $main-color
	&__badge
		min-width: 20px
		min-height: 20px
		border-radius: 20px
		border: 1px solid #676767
.orders
	&__content-wrapper
		@extend .d-flex, .flex-column 
		width: 100%
	&__tab-pill
		@extend .flex-row, .fullCenter
		box-shadow: 0 0 15px rgba(0, 0, 0, .13)
		border-radius: 10px
		line-height: 22px
		color: $light-black
		&:not(&--active)
			@extend .btn-light

		& .badge
			@extend .fullCenter
			width: 22px
			height: 22px
			border-radius: 22px
			margin-left: .3rem
			background-color: $main-color

		&--active
			@extend .btn-primary
			background-color: $main-color
			& .badge
				background-color: white
	&__filter-link
		white-space: nowrap
		&:hover
			color: $main-color
		&--active
			font-weight: bold
			color: $main-color
			pointer-events: none


.order-accordion
	@extend .d-flex, .flex-column 
	background-color: #FDFDFD
	border: 1px solid #EDEDED
	border-radius: 10px

	&__header
		@extend .d-flex, .flex-column, .py-2
		background-color: $main-color
		border-radius: 10px
	&__h-key
		font-weight: normal
		color: white
	&__content-wrapper
		@extend .d-flex, .flex-column, .py-2, .px-4
	&__link
		// white-space: nowrap
		text-align: center
		text-decoration: none
		&:hover
			text-decoration: underline
			color: $main-color
		&--active
			text-decoration: underline
			font-weight: bold
			color: #B2B2B2
			pointer-events: none

	&__thumb
		border: 2px solid transparent
		width: 44px
		height: 44px
		border-radius: 44px
		position: relative
		cursor: pointer
		transition: .4s border
		border-radius: 66px
		border: 2px solid $main-color
	
	&__grayBack
		
		background-color: #EDEDED
			
	&__hlink
		text-decoration: underline
		color: $light-black
		&:hover
			color: $main-color
	// &__toggle
	// 	// transform: scaleY(0)
	// 	max-height: 0
	// 	transition: .4s all
	// 	&--active
	// 		// transform: scaleY(1)
	// 		// max-height: 1000px

.progress-tracker
	width: 700px
	&__wrapper
		max-width: 100%
		overflow-x: auto
	&--center .progress-step::after
		z-index: 1!important

.progress-step
	&::after
		background-color: #F4F4F4
	&.is-complete .progress-marker, &.is-active .progress-marker
		// background-color: $main-color
		color: white
	&.is-active .progress-marker
		font-size: 0
		position: relative
		&::before
			@extend .fullCenter
			content: url('../../img/maps-and-flags (2).svg')
			position: absolute
			left: 0
			top: 0
			right: 0
			bottom: 0
	& .progress-marker
		// background-color: white
		width: 58px
		height: 58px
		color: $main-color
		font-size: 25px
		box-shadow: 0 0 6px rgba(0, 0, 0, .35)
	&:not(:last-child)::after
		top: 29px

	& .progress-text, & .progress-title
		font-size: 15px

	& .progress-text
		color: #D8D8D8
	
	& .progress-title
		color: $light-black


.order-delivered
	&__header
		background-color: #EDEDED
		border-radius: 10px

	&__link
		// white-space: nowrap
		text-align: center
		color: $main-color
		text-decoration: underline
		&:hover
			text-decoration: underline
			color: #B2B2B2
		&--active
			text-decoration: underline
			font-weight: bold
			color: #B2B2B2
			pointer-events: none

.b-spinner
	@extend .fullCenter
	display: none
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	background-color: mainColor(.8)
	z-index: $zindex-modal + 1
	&--active
		display: flex

.slider-menu
	font-size: 14px
	white-space: nowrap

.close-additional-item
	z-index: 1000


[data-repeat-id="item"] [data-repeat-target="item"]
	display: none
[data-repeat-id="item"]:nth-last-of-type(1) .close-additional-item
	display: none
[data-repeat-id="item"]:nth-last-of-type(1) [data-repeat-target="item"]
	display: flex


.b-aside
	// width: 100%
	font-size: 20px
	min-width: 260px
	border-radius: 6px
	border: 1px solid #EAEAEA
	// .b-aside
	// 	&__collapse
	// 		display: block
	&__list
		list-style-type: none
		line-height: 40px
		box-shadow: 0 0 0
		transition: .4s all
		&--active
			background-color: $main-color
		&:hover
			box-shadow: 1px 1px 7px


.b-invoice
	position: relative
	border: 1px solid #d8d8d8
	width: 100%
	min-height: 200px
	border-radius: 3px
	&__col
		min-height: 200px
	&__input

		cursor: pointer
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		width: 100%
		
		opacity: 0
	&__infos
		z-index: -1
		position: absolute
		left: 50%
		top: 50%
		transform: translate(-50%, -50%)
		display: flex
		flex-direction: column
	&__select
		text-align: center
		padding: 5px
		border-radius: 4px
	
	
	&__fileinfos
		overflow: auto
	&__fileinfo
		cursor: pointer
		user-select: none
		& span.b-invoice__delete-icon
			color: #d8d8d8
			display: inline-block
			transition: .4s all
		&:hover span.b-invoice__delete-icon
			transform: scale(1.7)
			color: tomato
	&__file-type
		display: flex
		justify-content: center
		align-items: center
		border: 1px solid $main-color
		width: 25px
		height: 25px
		border-radius: 25px
		font-size: 7px

	&__file-name
		font-size: 12px
		color: #676767
	&__file-size
		font-size: 8px
		color: #d8d8d8



.b-alert
	background-color: transparent
	border-color: $main-color
	color: $light-black

.b-verification
  position: relative
  margin-left: 30px
  visibility: hidden
  &__dashes
    position: absolute
    bottom: 0
    left: 0
    right: 0
    display: flex
    flex-direction: row
    & span
      display: block
      width: 30px
      height: 2px
      margin-right: 22px
      &:nth-last-of-type(1)
        margin-right: 0
      
      background-color: #B1B1B1
  &__input
    border: none!important
    outline: none!important
    padding-left: 3px
    padding-right: 3px
    font-size: 40px
    letter-spacing: 30px
    text-align: left
    // width: 110px
    // background: lightgray
  
.layered-slider
  position: relative
  max-width: 100%
  width: 728px
  max-height: 360px
  margin-bottom: 30px
  &__headers
  &__header
  	font-size: 25px
  
  &__arrow
    color: white
    position: absolute
    top: 50%
    transform: translateY(-50%)
    user-select: none
    cursor: pointer
    opacity: .9
    font-size: 40px
    z-index: 1000
    transition: opacity $layered-slider-transition-time 
    &--prev
      left: 5px
      transform: translateY(-50%) rotate(180deg)
    &--next
      right: 5px
    &:hover
      opacity: 1
    &--hidden
      pointer-events: none
      visibility: hidden
  
    
    
  &__indicators
    position: absolute
    bottom: 10px
    left: 50%
    transform: translateX(-50%)
    z-index: 5
  &__dot
    cursor: pointer
    padding: 5px
    
    &:after
      @include shadow(1)
      content: ""
      background: white
      position: relative
      display: inline-block
      width: 10px
      height: 10px
      border-radius: 10px
      transition: .3s all
    &--active
      &:after
        background-color: $main-color
    &:hover:after
      width: 18px
      height: 18px
      border-radius: 18px
  &__items
  	max-width: 100%
  
  &__item
    background-color: $main-color
    opacity: 0
    position: absolute
    background-size: cover
    width: 100%
    height: 100%
    border-radius: 10px
    overflow: hidden
    transform: scale(1.3)
    pointer-events: none
    z-index: 4
    transition: transform $layered-slider-transition-time, opacity $layered-slider-transition-time
    & .layered-slider__image
      border-radius: 10px
      opacity: 0
      transition: $layered-slider-transition-time opacity
      
      
    &--active
      position: relative
      opacity: 1
      z-index: 3
      transform: scale(1)
      transition: transform $layered-slider-transition-time, opacity $layered-slider-transition-time
      & .layered-slider__image
        opacity: 1
        transition: opacity $layered-slider-transition-time
      & + div
        opacity: 1
        z-index: 2
        transform: translateY(10px) scaleX(.95)
        & + div
          opacity: 1
          z-index: 1
          transform: translateY(20px) scaleX(.9) 
  &__info
	  border-radius: 10px
	  position: absolute
	  top: 0
	  left: 0
	  bottom: 0
	  right: 0
	  z-index: 100
   
.b-poster-slider
	
// .right-banner
// 	&__img
// 		transition: .4s transform
// 		&:hover
// 			transform: scale(1.1)

.input-group
	&__tracking
		min-width: 173px

.p-terminal

	word-break: break-word
	&::after
		content: ""
		width: 308px
	&__item
		width: 308px
		max-width: 100%
		border: 1px solid #EFF0F0
	&__header
	&__key
		font-size: 50px
		font-weight: bold
		color: #EFF0F0
		line-height: 46px
	&__info
		font-size: 14px
		color: #656565





   

//media
@include media-breakpoint-between(xs, sm)
	.col-md-6, .col-md-12
		margin-top: 15px
	.form-group.mt-2
		margin-top: 15px
	.b-slider
		&__img
			object-fit: contain	
			border-radius: 0

	.back-button
		left: -26px

	.custom-file-label.b-input::after
		padding-left: 15px
		padding-right: 15px

	.b-input
		font-size: 17px

	.news1-img
			
		&__wrapper
			
			padding: 0
		&__date
	
	.inputs-wrapper
		&--shopping
			display: none
			position: fixed
			top: 77px
			right: 10px
			left: 10px
	.layered-slider
		&__headers
		&__header
			font-size: 15px


@include media-breakpoint-between(xs, lg)
	.work
		&__col
			padding-top: 10px
			padding-bottom: 20px
			&--first
				padding-right: 0
			&:after, &:before
				content: ''
		&__img
			order: 0
			margin-bottom: 35px
			margin-top: 0

		&__text
			&-wrapper
				order: 1

	.b-slider-image
		transform: scale(1)

	

@include media-breakpoint-between(xs, md)
	// .b-aside
	// 	&__collapse
	// 		display: none

	.my-orders
		max-width: unset
	
	

@include media-breakpoint-between(xs, xl)


@include media-breakpoint-between(xs, lg)
	


small.errorText
	@extend .text-danger, .ml-1
	min-height: 46px
	font-size: 15px!important








