.inputs-wrapper.inputs-wrapper--shopping.px-2
	.table-responsive
		table.table
			thead
				tr
					th(scope='col') #
					th(scope='col') Şəkil
					th(scope='col') Məhsul Linki
					th(scope='col') Qiymət
					th(scope='col') Yekun
					th(scope='col') Rəng
					th(scope='col') Ölçü
					th(scope='col')
					th(scope='col')
			tbody
				tr
					th(scope='row') 1
					td 
						img.order-thumb(src="https://via.placeholder.com/66", alt="")
					td https://www.flaticon.com/slide…
					td 100 TL
					td 105 TL
					td Mavi
					td Tək
					td.px-0 
						button.btn.btn-icon
							img.mb-1(src="./img/pencil (3).svg", alt="", height="19px" width="auto")
							| edit
					td.px-0
						button.btn.btn-icon
							img.mb-1(src="./img/rubbish-bin (2).svg", alt="", height="19px" width="auto")
							| delete
				tr
					th(scope='row') 1
					td 
						img.order-thumb(src="https://via.placeholder.com/66", alt="")
					td https://www.flaticon.com/slide…
					td 100 TL
					td 105 TL
					td Mavi
					td Tək
					td.px-0 
						button.btn.btn-icon
							img.mb-1(src="./img/pencil (3).svg", alt="", height="19px" width="auto")
							| edit
					td.px-0
						button.btn.btn-icon
							img.mb-1(src="./img/rubbish-bin (2).svg", alt="", height="19px" width="auto")
							| delete
				tr
					th(scope='row') 1
					td 
						img.order-thumb(src="https://via.placeholder.com/66", alt="")
					td https://www.flaticon.com/slide…
					td 100 TL
					td 105 TL
					td Mavi
					td Tək
					td.px-0 
						button.btn.btn-icon
							img.mb-1(src="./img/pencil (3).svg", alt="", height="19px" width="auto")
							| edit
					td.px-0
						button.btn.btn-icon
							img.mb-1(src="./img/rubbish-bin (2).svg", alt="", height="19px" width="auto")
							| delete
				tr
					th(scope='row') 1
					td 
						img.order-thumb(src="https://via.placeholder.com/66", alt="")
					td https://www.flaticon.com/slide…
					td 100 TL
					td 105 TL
					td Mavi
					td Tək
					td.px-0 
						button.btn.btn-icon
							img.mb-1(src="./img/pencil (3).svg", alt="", height="19px" width="auto")
							| edit
					td.px-0
						button.btn.btn-icon
							img.mb-1(src="./img/rubbish-bin (2).svg", alt="", height="19px" width="auto")
							| delete
				tr
					th(scope='row') 1
					td 
						img.order-thumb(src="https://via.placeholder.com/66", alt="")
					td https://www.flaticon.com/slide…
					td 100 TL
					td 105 TL
					td Mavi
					td Tək
					td.px-0 
						button.btn.btn-icon
							img.mb-1(src="./img/pencil (3).svg", alt="", height="19px" width="auto")
							| edit
					td.px-0
						button.btn.btn-icon
							img.mb-1(src="./img/rubbish-bin (2).svg", alt="", height="19px" width="auto")
							| delete
				tr
					th(scope='row') 1
					td 
						img.order-thumb(src="https://via.placeholder.com/66", alt="")
					td https://www.flaticon.com/slide…
					td 100 TL
					td 105 TL
					td Mavi
					td Tək
					td.px-0 
						button.btn.btn-icon
							img.mb-1(src="./img/pencil (3).svg", alt="", height="19px" width="auto")
							| edit
					td.px-0
						button.btn.btn-icon
							img.mb-1(src="./img/rubbish-bin (2).svg", alt="", height="19px" width="auto")
							| delete
				tr
					th(scope='row') 1
					td 
						img.order-thumb(src="https://via.placeholder.com/66", alt="")
					td https://www.flaticon.com/slide…
					td 100 TL
					td 105 TL
					td Mavi
					td Tək
					td.px-0 
						button.btn.btn-icon
							img.mb-1(src="./img/pencil (3).svg", alt="", height="19px" width="auto")
							| edit
					td.px-0
						button.btn.btn-icon
							img.mb-1(src="./img/rubbish-bin (2).svg", alt="", height="19px" width="auto")
							| delete
				tr
					th(scope='row') 1
					td 
						img.order-thumb(src="https://via.placeholder.com/66", alt="")
					td https://www.flaticon.com/slide…
					td 100 TL
					td 105 TL
					td Mavi
					td Tək
					td.px-0 
						button.btn.btn-icon
							img.mb-1(src="./img/pencil (3).svg", alt="", height="19px" width="auto")
							| edit
					td.px-0
						button.btn.btn-icon
							img.mb-1(src="./img/rubbish-bin (2).svg", alt="", height="19px" width="auto")
							| delete
				tr
					th(scope='row') 1
					td 
						img.order-thumb(src="https://via.placeholder.com/66", alt="")
					td https://www.flaticon.com/slide…
					td 100 TL
					td 105 TL
					td Mavi
					td Tək
					td.px-0 
						button.btn.btn-icon
							img.mb-1(src="./img/pencil (3).svg", alt="", height="19px" width="auto")
							| edit
					td.px-0
						button.btn.btn-icon
							img.mb-1(src="./img/rubbish-bin (2).svg", alt="", height="19px" width="auto")
							| delete
				tr
					th(scope='row') 1
					td 
						img.order-thumb(src="https://via.placeholder.com/66", alt="")
					td https://www.flaticon.com/slide…
					td 100 TL
					td 105 TL
					td Mavi
					td Tək
					td.px-0 
						button.btn.btn-icon
							img.mb-1(src="./img/pencil (3).svg", alt="", height="19px" width="auto")
							| edit
					td.px-0
						button.btn.btn-icon
							img.mb-1(src="./img/rubbish-bin (2).svg", alt="", height="19px" width="auto")
							| delete
				tr
					th(scope='row') 1
					td 
						img.order-thumb(src="https://via.placeholder.com/66", alt="")
					td https://www.flaticon.com/slide…
					td 100 TL
					td 105 TL
					td Mavi
					td Tək
					td.px-0 
						button.btn.btn-icon
							img.mb-1(src="./img/pencil (3).svg", alt="", height="19px" width="auto")
							| edit
					td.px-0
						button.btn.btn-icon
							img.mb-1(src="./img/rubbish-bin (2).svg", alt="", height="19px" width="auto")
							| delete
				tr
					th(scope='row') 1
					td 
						img.order-thumb(src="https://via.placeholder.com/66", alt="")
					td https://www.flaticon.com/slide…
					td 100 TL
					td 105 TL
					td Mavi
					td Tək
					td.px-0 
						button.btn.btn-icon
							img.mb-1(src="./img/pencil (3).svg", alt="", height="19px" width="auto")
							| edit
					td.px-0
						button.btn.btn-icon
							img.mb-1(src="./img/rubbish-bin (2).svg", alt="", height="19px" width="auto")
							| delete
				tr
					th(scope='row') 1
					td 
						img.order-thumb(src="https://via.placeholder.com/66", alt="")
					td https://www.flaticon.com/slide…
					td 100 TL
					td 105 TL
					td Mavi
					td Tək
					td.px-0 
						button.btn.btn-icon
							img.mb-1(src="./img/pencil (3).svg", alt="", height="19px" width="auto")
							| edit
					td.px-0
						button.btn.btn-icon
							img.mb-1(src="./img/rubbish-bin (2).svg", alt="", height="19px" width="auto")
							| delete
				tr
					th(scope='row') 1
					td 
						img.order-thumb(src="https://via.placeholder.com/66", alt="")
					td https://www.flaticon.com/slide…
					td 100 TL
					td 105 TL
					td Mavi
					td Tək
					td.px-0 
						button.btn.btn-icon
							img.mb-1(src="./img/pencil (3).svg", alt="", height="19px" width="auto")
							| edit
					td.px-0
						button.btn.btn-icon
							img.mb-1(src="./img/rubbish-bin (2).svg", alt="", height="19px" width="auto")
							| delete
				tr
					th(scope='row') 1
					td 
						img.order-thumb(src="https://via.placeholder.com/66", alt="")
					td https://www.flaticon.com/slide…
					td 100 TL
					td 105 TL
					td Mavi
					td Tək
					td.px-0 
						button.btn.btn-icon
							img.mb-1(src="./img/pencil (3).svg", alt="", height="19px" width="auto")
							| edit
					td.px-0
						button.btn.btn-icon
							img.mb-1(src="./img/rubbish-bin (2).svg", alt="", height="19px" width="auto")
							| delete
				tr
					th(scope='row') 1
					td 
						img.order-thumb(src="https://via.placeholder.com/66", alt="")
					td https://www.flaticon.com/slide…
					td 100 TL
					td 105 TL
					td Mavi
					td Tək
					td.px-0 
						button.btn.btn-icon
							img.mb-1(src="./img/pencil (3).svg", alt="", height="19px" width="auto")
							| edit
					td.px-0
						button.btn.btn-icon
							img.mb-1(src="./img/rubbish-bin (2).svg", alt="", height="19px" width="auto")
							| delete
				tr
					th(scope='row') 1
					td 
						img.order-thumb(src="https://via.placeholder.com/66", alt="")
					td https://www.flaticon.com/slide…
					td 100 TL
					td 105 TL
					td Mavi
					td Tək
					td.px-0 
						button.btn.btn-icon
							img.mb-1(src="./img/pencil (3).svg", alt="", height="19px" width="auto")
							| edit
					td.px-0
						button.btn.btn-icon
							img.mb-1(src="./img/rubbish-bin (2).svg", alt="", height="19px" width="auto")
							| delete
				tr
					th(scope='row') 1
					td 
						img.order-thumb(src="https://via.placeholder.com/66", alt="")
					td https://www.flaticon.com/slide…
					td 100 TL
					td 105 TL
					td Mavi
					td Tək
					td.px-0 
						button.btn.btn-icon
							img.mb-1(src="./img/pencil (3).svg", alt="", height="19px" width="auto")
							| edit
					td.px-0
						button.btn.btn-icon
							img.mb-1(src="./img/rubbish-bin (2).svg", alt="", height="19px" width="auto")
							| delete
				tr
					th(scope='row') 1
					td 
						img.order-thumb(src="https://via.placeholder.com/66", alt="")
					td https://www.flaticon.com/slide…
					td 100 TL
					td 105 TL
					td Mavi
					td Tək
					td.px-0 
						button.btn.btn-icon
							img.mb-1(src="./img/pencil (3).svg", alt="", height="19px" width="auto")
							| edit
					td.px-0
						button.btn.btn-icon
							img.mb-1(src="./img/rubbish-bin (2).svg", alt="", height="19px" width="auto")
							| delete
				tr
					th(scope='row') 1
					td 
						img.order-thumb(src="https://via.placeholder.com/66", alt="")
					td https://www.flaticon.com/slide…
					td 100 TL
					td 105 TL
					td Mavi
					td Tək
					td.px-0 
						button.btn.btn-icon
							img.mb-1(src="./img/pencil (3).svg", alt="", height="19px" width="auto")
							| edit
					td.px-0
						button.btn.btn-icon
							img.mb-1(src="./img/rubbish-bin (2).svg", alt="", height="19px" width="auto")
							| delete
				tr
					th(scope='row') 1
					td 
						img.order-thumb(src="https://via.placeholder.com/66", alt="")
					td https://www.flaticon.com/slide…
					td 100 TL
					td 105 TL
					td Mavi
					td Tək
					td.px-0 
						button.btn.btn-icon
							img.mb-1(src="./img/pencil (3).svg", alt="", height="19px" width="auto")
							| edit
					td.px-0
						button.btn.btn-icon
							img.mb-1(src="./img/rubbish-bin (2).svg", alt="", height="19px" width="auto")
							| delete
				tr
					
					td.text-center(colspan='4') 
						h1.main-color.m-0 Ümumi qiymət: 2000 TL
					td 
						.form-check.d-flex.flex-row.py-1.px-1.mt-1
							input#urgent-order.form-check-input(type='checkbox')
							label.form-check-label.ml-2(for='urgent-order') 
								span.ml-1 təcili sifariş
					
					
					td.text-center(colspan="4")
						button.btn.btn-warning.main-button(type='submit') Sifariş et
				
