.inputs-wrapper.inputs-wrapper--shopping
	.table-responsive
		table.table
			thead
				tr
					th(scope='col') #
					th(scope='col') Şəkil
					th(scope='col') Məhsul Linki
					th(scope='col') Qiymət
					th(scope='col') Yekun
					th(scope='col') Rəng
					th(scope='col') Ölçü
					th(scope='col')
					th(scope='col')
			tbody
				tr
					th(scope='row') 1
					td 
						img.order-thumb(src="https://via.placeholder.com/66", alt="")
					td Otto
					td @mdo
					td Mark
					td Otto
					td @mdo
					td Mark
					td Otto
				
