extends pug_template/head

block unique-content
	.row.justify-content-center.mt-5
		
		.inputs-wrapper.inputs-wrapper--white.d-block.pt-3.pb-5.px-3.px-sm-5
			h1.text-center.f-100.text-danger.blink.mt-3.mb-5 404
			p.text-center Page not found
			
			