extends pug_template/head

block unique-content
	.row.justify-content-center.mt-5
		
		.inputs-wrapper.inputs-wrapper--white.d-block.f-20.py-3.px-3.px-sm-5
			h1.text-center.mt-3.mb-5 HAQQIMIZDA
			
			.about-logo__wrapper.text-center.mb-5
				img(src="./img/Group 78.svg", alt="new image")
			|Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt cumque rerum in iure sapiente aut quos hic corporis inventore, culpa accusamus. Ea alias dolorum perspiciatis est unde! Hic, quia nobis?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt cumque rerum in iure sapiente aut quos hic corporis inventore, culpa accusamus. Ea alias dolorum perspiciatis est unde! Hic, quia nobis?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt cumque rerum in iure sapiente aut quos hic corporis inventore, culpa accusamus. Ea alias dolorum perspiciatis est unde! Hic, quia nobis?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt cumque rerum in iure sapiente aut quos hic corporis inventore, culpa accusamus. Ea alias dolorum perspiciatis est unde! Hic, quia nobis?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt cumque rerum in iure sapiente aut quos hic corporis inventore, culpa accusamus. Ea alias dolorum perspiciatis est unde! Hic, quia nobis?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt cumque rerum in iure sapiente aut quos hic corporis inventore, culpa accusamus. Ea alias dolorum perspiciatis est unde! Hic, quia nobis?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt cumque rerum in iure sapiente aut quos hic corporis inventore, culpa accusamus. Ea alias dolorum perspiciatis est unde! Hic, quia nobis?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt cumque rerum in iure sapiente aut quos hic corporis inventore, culpa accusamus. Ea alias dolorum perspiciatis est unde! Hic, quia nobis?