extends pug_template/head

block unique-content
	.row.justify-content-center.mt-5
		
		.inputs-wrapper.inputs-wrapper--white.d-block.f-20.pt-3.pb-5.px-3.px-lg-5
			h1.text-center.mt-3.mb-5 BƏYANNAMƏ ƏLAVƏ ET
			
			.about-logo__wrapper.text-center.mb-5
				//- img(src="./img/Group 78.svg", alt="new image")
			.row.flex-row.p-0.pt-3.m-0
				
				.col-md-6.pt-2
					.form-group.fullWidth.mt-2
							label(for='exampleFormControlInput1') 
							select.form-control.b-input
								option Bəyənnamə
								option
								option
								option
				
				.col-md-6.pt-2
					.form-group.fullWidth.mt-2
						label.text-left.pl-2(for='exampleFormControlInput1') Bəyənnamə adı
						input.form-control.b-input(type='text', placeholder='')


				.col-md-6.pt-2
					.form-group.fullWidth.mt-2
						label.text-left.pl-2(for='exampleFormControlInput1') İzləmə nömrəsi
						input.form-control.b-input(type='text', placeholder='')
				

				.col-md-6.pt-2
					.form-group.f-2.mt-2
						label(for='exampleFormControlInput1') Ölkə
						select.form-control.b-input.selectpicker(data-live-search='true' data-style="b-input")
							option(value='1') bir
							option(value='2') iki
							option(value='3') uc
							option(value='4') dord
								
				

				

				
				
				//- .col-md-6.pt-2
				//- 	.form-group.fullWidth.mt-2
				//- 		label.text-left.pl-2(for='exampleFormControlInput1') Qiymət
				//- 		input.form-control.b-input(type='number', placeholder='')
				
				.col-md-12.pt-2
					.custom-file.mt-2
						input#customFileLang.custom-file-input(type='file', lang='az')
						label.custom-file-label.b-input(for='customFileLang') Invoice (jpg,png,pdf)
				
				//- .col-md-12.pt-2
				//- 	.form-group.fullWidth.mt-2
				//- 		label.text-left.pl-2(for='exampleFormControlTextarea1') Qeyd
				//- 		textarea#exampleFormControlTextarea1.form-control.b-input(rows='3')


			hr.main-bg.mt-5

			.row.flex-row.p-0.pt-3.m-0
				
				.col-md-4.flex-column.pt-2(data-repeat-id='item')
					.d-flex.fullWidth.justify-content-end
						a.close-additional-item(href='')
							i.fa.fa-close.text-danger
					.form-group.fullWidth.mt-2
						label(for='exampleFormControlInput1') 
						select.form-control.b-input
							option Bəyənnamə
							option
							option
							option
					
					.form-group.fullWidth.mt-2
						label.text-left.pl-2(for='exampleFormControlInput1') Məhsul adı
						input.form-control.b-input(type='text', placeholder='')
					
					.form-group.fullWidth.mt-2
						label.text-left.pl-2(for='exampleFormControlInput1') Qiymət
						input.form-control.b-input(type='number', placeholder='')
					
				
					
				




			.row.pt-3.flex-row.fullCenter
				button.btn.btn-light.simple-button.mr-3.px-3(type='button' data-repeat-target='item') Məhsul Əlavə et +
				button.btn.btn-warning.main-button(type='submit') Əlavə et