extends pug_template/head

block unique-content
	.row.justify-content-center.mt-5
		
		.inputs-wrapper.inputs-wrapper--white.d-block.f-20.pt-3.pb-5.px-3.px-lg-5
			h1.text-center.mt-3.mb-5 BƏYANNAMƏ ƏLAVƏ ET
			
			.about-logo__wrapper.text-center.mb-5
				//- img(src="./img/Group 78.svg", alt="new image")
			.row.flex-row.fullCenter.p-0.pt-3.m-0
				
				.col-md-6.pt-2
					.form-group.fullWidth.mt-2
							label(for='exampleFormControlInput1') 
							select.form-control.b-input
								option Bağlama sayı
								option
								option
								option
				.col-md-6.pt-2
					.form-group.fullWidth.mt-2
							label(for='exampleFormControlInput1') 
							select.form-control.b-input
								option Məhsul tipi
								option
								option
								option

				.col-md-6.pt-2
					.form-group.mt-4.mt-sm-2.fullWidth.flex-column
						label.text-left.pl-2(for='exampleFormControlInput1') Sifariş tarixi
						input.form-control.b-input.jqueryMask(type='text', data-toggle="datepicker", data-mask="00/00/0000", placeholder='dd/mm/yyy')

				.col-md-6.pt-2
					.form-group.fullWidth.mt-2
						label.text-left.pl-2(for='exampleFormControlInput1') Mağaza
						input.form-control.b-input(type='text', placeholder='')
				
				.col-md-6.pt-2
					.form-group.fullWidth.mt-2
						label.text-left.pl-2(for='exampleFormControlInput1') Qiymət
						input.form-control.b-input(type='number', placeholder='')
				
				.col-md-6.pt-2
					.custom-file.mt-2
						input#customFileLang.custom-file-input(type='file', lang='az')
						label.custom-file-label.b-input(for='customFileLang') Invoice (jpg,png,pdf)
				
				.col-md-12.pt-2
					.form-group.fullWidth.mt-2
						label.text-left.pl-2(for='exampleFormControlTextarea1') Qeyd
						textarea#exampleFormControlTextarea1.form-control.b-input(rows='3')

			.row.pt-3.flex-row.fullCenter
				button.btn.btn-warning.main-button(type='submit') Əlavə et