extends pug_template/head

block unique-content
	.row.justify-content-center.mt-5
		.col-xl-6.col-md-6.justify-content-center.mb-5.flex-column

			a(href="").openPopup.b-faq.flex-row.d-flex.p-3.align-items-center
				
				img.b-faq__img(src="./img/plane (1).png", alt="", style="width: 45px; height: 24px")
				p.b-faq__title.m-0.ml-3 Nə Sifariş edə Bilərəm?
					
		
		.col-xl-6.col-md-6.justify-content-center.mb-5.flex-column

			a(href="").openPopup.b-faq.flex-row.d-flex.p-3.align-items-center
				
				img.b-faq__img(src="./img/plane (1).png", alt="", style="width: 45px; height: 24px")
				p.b-faq__title.m-0.ml-3 Nə Sifariş edə Bilərəm?
					
		
		.col-xl-6.col-md-6.justify-content-center.mb-5.flex-column

			a(href="").openPopup.b-faq.flex-row.d-flex.p-3.align-items-center
				
				img.b-faq__img(src="./img/plane (1).png", alt="", style="width: 45px; height: 24px")
				p.b-faq__title.m-0.ml-3 Çatdırılma həftədə neçə dəfə və hansı günlər həyata keçirilir ?
					
		
		.col-xl-6.col-md-6.justify-content-center.mb-5.flex-column

			a(href="").openPopup.b-faq.flex-row.d-flex.p-3.align-items-center
				
				img.b-faq__img(src="./img/plane (1).png", alt="", style="width: 45px; height: 24px")
				p.b-faq__title.m-0.ml-3 Azərbaycan kartlarını qəbul etməyən saytlardan necə sifariş edə bilərəm ?
					
		
		.col-xl-6.col-md-6.justify-content-center.mb-5.flex-column

			a(href="").openPopup.b-faq.flex-row.d-flex.p-3.align-items-center
				
				img.b-faq__img(src="./img/plane (1).png", alt="", style="width: 45px; height: 24px")
				p.b-faq__title.m-0.ml-3 Azərbaycan kartlarını qəbul etməyən saytlardan necə sifariş edə bilərəm ?
					

		.col-xl-6.col-md-6.justify-content-center.mb-5.flex-column

			a(href="").openPopup.b-faq.flex-row.d-flex.p-3.align-items-center
				
				img.b-faq__img(src="./img/plane (1).png", alt="", style="width: 45px; height: 24px")
				p.b-faq__title.m-0.ml-3 Ödəməni necə edirəm ?
					
		

		.col-xl-6.col-md-6.justify-content-center.mb-5.flex-column

			a(href="").openPopup.b-faq.flex-row.d-flex.p-3.align-items-center
				
				img.b-faq__img(src="./img/plane (1).png", alt="", style="width: 45px; height: 24px")
				p.b-faq__title.m-0.ml-3 Azərbaycan kartlarını qəbul etməyən saytlardan necə sifariş edə bilərəm ?
					

		.col-xl-6.col-md-6.justify-content-center.mb-5.flex-column

			a(href="").openPopup.b-faq.flex-row.d-flex.p-3.align-items-center
				
				img.b-faq__img(src="./img/plane (1).png", alt="", style="width: 45px; height: 24px")
				p.b-faq__title.m-0.ml-3 Ödəməni necə edirəm ?
					
		

		.col-xl-6.col-md-6.justify-content-center.mb-5.flex-column

			a(href="").openPopup.b-faq.flex-row.d-flex.p-3.align-items-center
				
				img.b-faq__img(src="./img/plane (1).png", alt="", style="width: 45px; height: 24px")
				p.b-faq__title.m-0.ml-3 Azərbaycan kartlarını qəbul etməyən saytlardan necə sifariş edə bilərəm ?
					

		.col-xl-6.col-md-6.justify-content-center.mb-5.flex-column

			a(href="").openPopup.b-faq.flex-row.d-flex.p-3.align-items-center
				
				img.b-faq__img(src="./img/plane (1).png", alt="", style="width: 45px; height: 24px")
				p.b-faq__title.m-0.ml-3 Ödəməni necə edirəm ?
					
		

		
		
		

		.row.pt-3.mb-3.flex-row.fullCenter
			button.btn.btn-warning.main-button(type='submit') Daha çox



block popup
	.b-popup
			.b-popup__inner.px-5.py-4
				<a href="#" class="close-b-popup text-right f-25"></a>
				a.close-b-popup.text-right.f-25 × 
				.flex-row.shop-search
					input.form-control.b-input.shop-search-input(type='text', placeholder='Axtar', autofocus)
					button.btn.btn-warning.main-button.shop-search-button(type='submit') Əlavə et
				.flex-row.letter-wrapper
					span.letter A
					span.letter B
					span.letter C
					span.letter D
					span.letter E
					span.letter F
					span.letter G
					span.letter H
					span.letter I
					span.letter J
					span.letter K
					span.letter L
					span.letter M
					span.letter N
					span.letter O
					span.letter P
					span.letter Q
					span.letter R
					span.letter S
					span.letter T
					span.letter U
					span.letter V
					span.letter W
					span.letter X
					span.letter Y
					span.letter Z
					span.letter.letter-more Digər
				.flex-row.shop-search
					input.form-control.b-input.shop-search-input(type='text', placeholder='www.ydsshop.com', autofocus)
					button.btn.btn-warning.main-button.shop-search-button(type='submit') Əlavə et
				.flex-row
					div.letter.letter--dark A
				.flex-row.shop-wrapper
					.shop www.hepsiburada.com
					.shop www.hepsiburada.com
					.shop www.hepsiburada.com
					.shop www.hepsiburada.com
					.shop www.hepsiburada.com
					.shop www.hepsiburada.com
					.shop www.hepsiburada.com
					.shop www.hepsiburada.com
					.shop www.hepsiburada.com
					.shop www.hepsiburada.com
					.shop www.hepsiburada.com
					.shop www.hepsiburada.com
					.shop www.hepsiburada.com
					.shop www.hepsiburada.com
					.shop www.hepsiburada.com
				.flex-row
					div.letter.letter--dark B
				.flex-row.shop-wrapper
					.shop www.hepsiburada.com
					.shop www.hepsiburada.com
					.shop www.hepsiburada.com
					.shop www.hepsiburada.com
					.shop www.hepsiburada.com
				.flex-row
					div.letter.letter--dark C
				.flex-row.shop-wrapper
					.shop www.hepsiburada.com
					.shop www.hepsiburada.com
					.shop www.hepsiburada.com
					.shop www.hepsiburada.com
					.shop www.hepsiburada.com
					.shop www.hepsiburada.com
					.shop www.hepsiburada.com
					.shop www.hepsiburada.com
					.shop www.hepsiburada.com
					.shop www.hepsiburada.com