extends pug_template/head

block unique-content
	.row.justify-content-center.mt-5
		.col-xl-6.col-md-6.justify-content-center.mb-5.flex-column

			a(href="").openPopup.b-faq.flex-row.d-flex.p-3.align-items-center
				
				img.b-faq__img(src="./img/plane (1).png", alt="", style="width: 45px; height: 24px")
				p.b-faq__title.m-0.ml-3 Nə Sifariş edə Bilərəm?
					
		
		.col-xl-6.col-md-6.justify-content-center.mb-5.flex-column

			a(href="").openPopup.b-faq.flex-row.d-flex.p-3.align-items-center
				
				img.b-faq__img(src="./img/plane (1).png", alt="", style="width: 45px; height: 24px")
				p.b-faq__title.m-0.ml-3 Nə Sifariş edə Bilərəm?
					
		
		.col-xl-6.col-md-6.justify-content-center.mb-5.flex-column

			a(href="").openPopup.b-faq.flex-row.d-flex.p-3.align-items-center
				
				img.b-faq__img(src="./img/plane (1).png", alt="", style="width: 45px; height: 24px")
				p.b-faq__title.m-0.ml-3 Çatdırılma həftədə neçə dəfə və hansı günlər həyata keçirilir ?
					
		
		.col-xl-6.col-md-6.justify-content-center.mb-5.flex-column

			a(href="").openPopup.b-faq.flex-row.d-flex.p-3.align-items-center
				
				img.b-faq__img(src="./img/plane (1).png", alt="", style="width: 45px; height: 24px")
				p.b-faq__title.m-0.ml-3 Azərbaycan kartlarını qəbul etməyən saytlardan necə sifariş edə bilərəm ?
					
		
		.col-xl-6.col-md-6.justify-content-center.mb-5.flex-column

			a(href="").openPopup.b-faq.flex-row.d-flex.p-3.align-items-center
				
				img.b-faq__img(src="./img/plane (1).png", alt="", style="width: 45px; height: 24px")
				p.b-faq__title.m-0.ml-3 Azərbaycan kartlarını qəbul etməyən saytlardan necə sifariş edə bilərəm ?
					

		.col-xl-6.col-md-6.justify-content-center.mb-5.flex-column

			a(href="").openPopup.b-faq.flex-row.d-flex.p-3.align-items-center
				
				img.b-faq__img(src="./img/plane (1).png", alt="", style="width: 45px; height: 24px")
				p.b-faq__title.m-0.ml-3 Ödəməni necə edirəm ?
					
		

		.col-xl-6.col-md-6.justify-content-center.mb-5.flex-column

			a(href="").openPopup.b-faq.flex-row.d-flex.p-3.align-items-center
				
				img.b-faq__img(src="./img/plane (1).png", alt="", style="width: 45px; height: 24px")
				p.b-faq__title.m-0.ml-3 Azərbaycan kartlarını qəbul etməyən saytlardan necə sifariş edə bilərəm ?
					

		.col-xl-6.col-md-6.justify-content-center.mb-5.flex-column

			a(href="").openPopup.b-faq.flex-row.d-flex.p-3.align-items-center
				
				img.b-faq__img(src="./img/plane (1).png", alt="", style="width: 45px; height: 24px")
				p.b-faq__title.m-0.ml-3 Ödəməni necə edirəm ?
					
		

		.col-xl-6.col-md-6.justify-content-center.mb-5.flex-column

			a(href="").openPopup.b-faq.flex-row.d-flex.p-3.align-items-center
				
				img.b-faq__img(src="./img/plane (1).png", alt="", style="width: 45px; height: 24px")
				p.b-faq__title.m-0.ml-3 Azərbaycan kartlarını qəbul etməyən saytlardan necə sifariş edə bilərəm ?
					

		.col-xl-6.col-md-6.justify-content-center.mb-5.flex-column

			a(href="").openPopup.b-faq.flex-row.d-flex.p-3.align-items-center
				
				img.b-faq__img(src="./img/plane (1).png", alt="", style="width: 45px; height: 24px")
				p.b-faq__title.m-0.ml-3 Ödəməni necə edirəm ?
					
		

		
		
		

		.row.pt-3.mb-3.flex-row.fullCenter
			button.btn.btn-warning.main-button(type='submit') Daha çox



block popup
	.b-popup
			.b-popup__inner.px-5.py-4
				h1.text-center.mb-4 Nə Sifariş edə Bilərəm?
				p.text-center Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam nobis id ab officia amet incidunt illum debitis voluptatibus, quaerat officiis ipsam magnam dolorem soluta omnis earum, reiciendis sint non eveniet! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam nobis id ab officia amet incidunt illum debitis voluptatibus, quaerat officiis ipsam magnam dolorem soluta omnis earum, reiciendis sint non eveniet! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam nobis id ab officia amet incidunt illum debitis voluptatibus, quaerat officiis ipsam magnam dolorem soluta omnis earum, reiciendis sint non eveniet! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam nobis id ab officia amet incidunt illum debitis voluptatibus, quaerat officiis ipsam magnam dolorem soluta omnis earum, reiciendis sint non eveniet! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam nobis id ab officia amet incidunt illum debitis voluptatibus, quaerat officiis ipsam magnam dolorem soluta omnis earum, reiciendis sint non eveniet! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam nobis id ab officia amet incidunt illum debitis voluptatibus, quaerat officiis ipsam magnam dolorem soluta omnis earum, reiciendis sint non eveniet! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam nobis id ab officia amet incidunt illum debitis voluptatibus, quaerat officiis ipsam magnam dolorem soluta omnis earum, reiciendis sint non eveniet!