extends pug_template/head

block unique-content
	.row.justify-content-center.mt-5
		
		.inputs-wrapper.inputs-wrapper--white.d-block.f-20.pt-3.pb-5.px-0
			h1.text-center.mt-3.mb-5 NECƏ İŞLƏYİRİK?
			
			//- .about-logo__wrapper.text-center.mb-5
				//- img(src="./img/Group 78.svg", alt="new image")
			.row.flex-row.fullCenter.p-0.pt-3.m-0



				.col-lg-3.col-md-6.flex-column.align-items-center.work__col.work__col--first
					img.work__img.work__img--top(src="./img/screen.svg", alt="screen image" style="width: 108px; height: 101px")
					.work__text-wrapper.flex-column.mt-0.mt-xl-3
						h2.text-center 1. Mərhələnin adı
						p.text-center.f-15 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed metus ac nulla placerat blandit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus pretium elit quis mi ultricies pharetra. 
				
				.col-lg-3.col-md-6.flex-column.align-items-center.justify-content-end.work__col.work__col--second
					.work__text-wrapper.flex-column.mb-0.mb-xl-3
						h2.text-center 1. Mərhələnin adı
						p.text-center.f-15 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed metus ac nulla placerat blandit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus pretium elit quis mi ultricies pharetra. 
					img.work__img.work__img--bottom(src="./img/online-shop (1).svg", alt="screen image" style="width: 115px; height: 97px")
				
				.col-lg-3.col-md-6.flex-column.align-items-center.justify-content-start 
					.work__text-wrapper.flex-column.mb-0.mb-xl-3
						h2.text-center 1. Mərhələnin adı
						p.text-center.f-15 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed metus ac nulla placerat blandit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus pretium elit quis mi ultricies pharetra. 
					img.work__img.work__img--bottom(src="./img/storage (1).svg", alt="screen image" style="width: 103px; height: 103px")
				
				.col-lg-3.col-md-6.flex-column.align-items-center.work__col.work__col--last
					img.work__img.work__img--top(src="./img/building.svg", alt="screen image" style="width: 108px; height: 101px")
					.work__text-wrapper.flex-column.mt-0.mt-xl-3
						h2.text-center 1. Mərhələnin adı
						p.text-center.f-15 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed metus ac nulla placerat blandit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus pretium elit quis mi ultricies pharetra. 
