extends pug_template/head

block unique-content
	.row.flex-column.growable.my-3
		h1.b-header 
			|Lorem ipsum dolor sit amet,
			//- br
			| consectetur adipisicing elit. 

	.row.justify-content-center
		.col-xl-6
			.inputs-wrapper.flex-column.f-20.p-1.py-sm-3.px-sm-5
				.row
					.col-lg-6.fullCenter
						p.bold Yekun qiymət (TL): 
							br/
							span.main-color 2345 TL

					.col-lg-6.fullCenter
						p.bold Yekun qiymət (AZN):
							br/
							span.main-color 124 AZN

				.row.py-3.justify-content-center
					.link-thumbnail
						img(src="https://via.placeholder.com/66", alt="")
					.link-thumbnail
						img(src="https://via.placeholder.com/66", alt="")
					.link-thumbnail
						img(src="https://via.placeholder.com/66", alt="")
					.link-thumbnail
						img(src="https://via.placeholder.com/66", alt="")
					
				form(action="")
					.row.pt-3.flex-row.fullCenter
						.col-lg-12.no-padding
							.form-group.f-2.mt-2
								label(for='exampleFormControlInput1') Ölkə
								select.form-control.b-input.selectpicker(data-live-search='true' data-style="b-input")
									option(value='1') bir
									option(value='2') iki
									option(value='3') uc
									option(value='4') dord
								small.errorText Must be 8-20 characters long. 
								
						.col-lg-6.no-padding
							.form-group.f-3.mt-2
								label(for='exampleFormControlInput1') linki əlavə et
								input.form-control.b-input.is-invalid(type='email', placeholder='', autofocus)
								small.errorText Must be 8-20 characters long.

						
						.col-lg-6.no-padding
							.form-group.f-2.mt-2
								label(for='exampleFormControlInput1') qiymət(TL)
								input.form-control.b-input.b-input--small.is-invalid(type='email', placeholder='')
								small.errorText Must be 8-20 characters long.
							span.corrier-price.f-1.mt-2 +5%

						.col-md-12.no-padding.pt-2
							
							

							.form-group.f-2.mt-2
								label(for='exampleFormControlInput1') cəmi
								input.form-control.b-input.b-input--small.is-invalid(type='email', placeholder='')
								small.errorText Must be 8-20 characters long.
							.form-group.f-2.mt-2
								label(for='exampleFormControlInput1') ölçü
								select.form-control.b-input.b-input--small.selectpicker(data-live-search='true' data-style="b-input")
									option(value='1') bir
									option(value='2') iki
									option(value='3') uc
									option(value='4') dord
								small.errorText Must be 8-20 characters long.
							.form-group.f-2.mt-2
								label(for='exampleFormControlInput1') rəng
								input.form-control.b-input.b-input--small(type='email', placeholder='')
							


					.row.pt-3.flex-row.fullCenter.no-padding
						.col-12.no-padding
							.form-group.fullWidth.mt-2
								label(for='exampleFormControlInput1') Qeyd
								input.form-control.b-input(type='email', placeholder='')


					.row.pt-3.pm-0.d-flex.flex-row.px-5.fullCenter
						
							.form-check.d-flex.flex-row.py-1.px-1.mt-1
								input#urgent-order.form-check-input(type='checkbox')
								label.form-check-label.ml-2(for='urgent-order') 
									span.ml-1 təcili sifariş

							button.btn.btn-light.ml-1.simple-button.mt-1(type='button') yeni link
						
					.row.pt-3.flex-row.fullCenter
						button.btn.btn-warning.main-button(type='submit') Sifariş et
		.col-xl-6.flex-column.justify-content-between
			//- .row.my-5.mt-xl-0
			//- 	.inputs-wrapper.p-1.py-sm-3.px-sm-5

			//- 			form.fullWidth.mt-2
			//- 				p.bold.f-20.text-center Tracking no search
			//- 				.form-group
			//- 					label(for='exampleFormControlInput1') 
			//- 					input.form-control.b-input(type='text', name='search', placeholder='')
			//- 				.row.pt-3.flex-row.fullCenter
			//- 					button.btn.btn-warning.main-button(type='submit') Axtar

			.row.justify-content-center.mx-0
				.slider-wrapper
					// Slider main container
					.swiper-container
						// Additional required wrapper
						.swiper-wrapper
							// Slides

							.swiper-slide
								.b-slider-card
									img(src="https://via.placeholder.com/540X500", alt="", style="width: 540px; height: 500px").img-responsive.b-slider__img
									
									//- a.b-slider-header(href="") 
									//- 	h5 &times;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique dolorem expedita
									//- 	p.mt-4 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia tempore veritatis similique autem, dolor alias quibusdam repellat animi suscipit libero, distinctio, culpa, accusamus fugit id obcaecati quos. Exercitationem ducimus, error.

							
						// If we need pagination
						// If we need navigation buttons
						.swiper-pagination
						.swiper-button-prev
						.swiper-button-next
						// If we need scrollbar
						//- .swiper-scrollbar

