extends pug_template/head

block unique-content
	.row.justify-content-center.mt-5
		
		.inputs-wrapper.inputs-wrapper--white.d-block.f-20.pt-3.pb-5.px-3.px-sm-5
			h1.text-center.mt-3.mb-5 İSMARIŞLAR
			

			.table-responsive
				table.table.table--borderless.f-20(cellspacing="20px" cellpadding="0")
					tbody
						tr.borderBottom
							th Tarix
							th Başlıq
							
							
						tr
							td.gray 17.12.2018
							td Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, aliquid, minima eius sint praesentium velit non, sequi at, autem voluptatum quam quidem corporis eligendi molestias cum perferendis laborum rerum sit.
							
						tr
							td.gray 17.12.2018
							td Kuryer sifarişi zamanı yaranan axsaqlıq
							
						tr
							td.gray 17.12.2018
							td Kuryer sifarişi zamanı yaranan axsaqlıq
							
						tr
							td.gray 17.12.2018
							td Kuryer sifarişi zamanı yaranan axsaqlıq
							
					
			