extends pug_template/head

block unique-content
	.row.justify-content-center.mt-5
		.col-xl-4.col-md-6.justify-content-center.mb-5
			a(href="").b-news
				img.b-news__img(src="https://via.placeholder.com/284X134", alt="")
				.b-news__info
					p.b-news__title Xəbərin başlığı, blah blah blah blah blah.
					p.b-news__paragraph Xəbərdən ilk bir neçə cümlə blah blah blah blah blah blah blah blah blah blah…
					p.b-news__date 14.12.2018
		.col-xl-4.col-md-6.justify-content-center.mb-5
			a(href="").b-news
				img.b-news__img(src="https://via.placeholder.com/284X134", alt="")
				.b-news__info
					p.b-news__title Xəbərin başlığı, blah blah blah blah blah.
					p.b-news__paragraph Xəbərdən ilk bir neçə cümlə blah blah blah blah blah blah blah blah blah blah…
					p.b-news__date 14.12.2018
		.col-xl-4.col-md-6.justify-content-center.mb-5
			a(href="").b-news
				img.b-news__img(src="https://via.placeholder.com/284X134", alt="")
				.b-news__info
					p.b-news__title Xəbərin başlığı, blah blah blah blah blah.
					p.b-news__paragraph Xəbərdən ilk bir neçə cümlə blah blah blah blah blah blah blah blah blah blah…
					p.b-news__date 14.12.2018
		.col-xl-4.col-md-6.justify-content-center.mb-5
			a(href="").b-news
				img.b-news__img(src="https://via.placeholder.com/284X134", alt="")
				.b-news__info
					p.b-news__title Xəbərin başlığı, blah blah blah blah blah.
					p.b-news__paragraph Xəbərdən ilk bir neçə cümlə blah blah blah blah blah blah blah blah blah blah…
					p.b-news__date 14.12.2018
		.col-xl-4.col-md-6.justify-content-center.mb-5
			a(href="").b-news
				img.b-news__img(src="https://via.placeholder.com/284X134", alt="")
				.b-news__info
					p.b-news__title Xəbərin başlığı, blah blah blah blah blah.
					p.b-news__paragraph Xəbərdən ilk bir neçə cümlə blah blah blah blah blah blah blah blah blah blah…
					p.b-news__date 14.12.2018
		.col-xl-4.col-md-6.justify-content-center.mb-5
			a(href="").b-news
				img.b-news__img(src="https://via.placeholder.com/284X134", alt="")
				.b-news__info
					p.b-news__title Xəbərin başlığı, blah blah blah blah blah.
					p.b-news__paragraph Xəbərdən ilk bir neçə cümlə blah blah blah blah blah blah blah blah blah blah…
					p.b-news__date 14.12.2018
		
		

		.row.pt-3.mb-3.flex-row.fullCenter
			button.btn.btn-warning.main-button(type='submit') Daha çox