extends pug_template/head

block unique-content
	.row.justify-content-center.mt-5
		
		.inputs-wrapper.inputs-wrapper--white.d-block.f-20.py-5.px-3.px-sm-5
			
			p 
				.news1-img__wrapper
					img.news1-img.img-fluid(src="https://via.placeholder.com/552X351", alt="new image")
					p.news1-img__date.mt-4 14.12.2018
				|Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt cumque rerum in iure sapiente aut quos hic corporis inventore, culpa accusamus. Ea alias dolorum perspiciatis est unde! Hic, quia nobis?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt cumque rerum in iure sapiente aut quos hic corporis inventore, culpa accusamus. Ea alias dolorum perspiciatis est unde! Hic, quia nobis?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt cumque rerum in iure sapiente aut quos hic corporis inventore, culpa accusamus. Ea alias dolorum perspiciatis est unde! Hic, quia nobis?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt cumque rerum in iure sapiente aut quos hic corporis inventore, culpa accusamus. Ea alias dolorum perspiciatis est unde! Hic, quia nobis?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt cumque rerum in iure sapiente aut quos hic corporis inventore, culpa accusamus. Ea alias dolorum perspiciatis est unde! Hic, quia nobis?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt cumque rerum in iure sapiente aut quos hic corporis inventore, culpa accusamus. Ea alias dolorum perspiciatis est unde! Hic, quia nobis?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt cumque rerum in iure sapiente aut quos hic corporis inventore, culpa accusamus. Ea alias dolorum perspiciatis est unde! Hic, quia nobis?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt cumque rerum in iure sapiente aut quos hic corporis inventore, culpa accusamus. Ea alias dolorum perspiciatis est unde! Hic, quia nobis?