extends pug_template/head

block unique-content
	.row.justify-content-center.mt-5
		.col-md-6
			.inputs-wrapper.inputs-wrapper--white.d-block.f-15.pt-3.pb-5.px-3.px-sm-5
				p.text-center.m-0 Cari balans: 
					span.f-25.bold.main-color -3.05 AZN
				.row.pt-3.flex-row.fullCenter
					button.btn.btn-warning.main-button(type='submit') Balansı artır

				.row.pt-3.flex-row.fullCenter
					button.btn.btn-warning.main-button.pay-button(type='submit'  disabled) Ödə
		.col-md-6
			.inputs-wrapper.inputs-wrapper--white.d-block.f-15.pt-3.pb-5.px-3.px-sm-5
				.row.flex-row.fullCenter
						button.btn.btn-warning.main-button(type='submit') Sifariş et
				.row.pt-3.flex-row.fullCenter
						button.btn.btn-warning.main-button(type='submit') Bəyənnamə əlavə et
	.row.justify-content-center.mt-5
		
		.inputs-wrapper.inputs-wrapper--white.fullCenter.flex-column.f-15.pt-3.pb-5.px-3.px-sm-0
			h1.text-center.mt-3 SİFARİŞLƏRİM
			p.text-center.mb-5 Müştəri Kodu: 
					span.f-25.bold.main-color 112 820

			.about-logo__wrapper.text-center.mb-5

			.orders__content-wrapper
				.row.justify-content-between
					.col-6.col-md-12.flex-row.flex-wrap.fullCenter
						.col-md-3.col-sm-12.fullCenter.mb-3
							button.btn.btn-primary.orders__tab-pill.orders__tab-pill--active(type='button') 
								| Notifications 
								span.badge.badge-light 4
						.col-md-3.col-sm-12.fullCenter.mb-3
							button.btn.orders__tab-pill(type='button') 
								| Notifications 
								span.badge.badge-light 4
						.col-md-3.col-sm-12.fullCenter.mb-3
							button.btn.orders__tab-pill(type='button') 
								| Notifications 
								span.badge.badge-light 4
						.col-md-3.col-sm-12.fullCenter.mb-3
							button.btn.orders__tab-pill(type='button') 
								| Notifications 
								span.badge.badge-light 24

					.col-6.col-md-12.flex-row.flex-wrap.fullCenter.mt-md-3
						.col-lg-3.col-md-4.col-sm-12.fullCenter.mb-2
							a.orders__filter-link.orders__filter-link--active.fullCenter(href="") 
								img.orders__filter-icon.mr-2(src="./img/filter-results-button.svg", alt="filter icon")
								|Əvvəlcə Bahalı
						.col-lg-3.col-md-4.col-sm-12.fullCenter.mb-2
							a.orders__filter-link.fullCenter(href="") 
								img.orders__filter-icon.mr-2(src="./img/filter-results-button-reverse.svg", alt="filter icon")
								|Əvvəlcə Ucuz
						.col-lg-3.col-md-4.col-sm-12.fullCenter.mb-2
							a.orders__filter-link.fullCenter(href="") 
								img.orders__filter-icon.mr-2(src="./img/sort-alphabet-ascending.svg", alt="filter icon")
								|A-dan Z-yə
						.col-lg-3.col-md-4.col-sm-12.fullCenter.mb-2
							a.orders__filter-link.fullCenter(href="") 
								img.orders__filter-icon.mr-2(src="./img/descending-alphabet-sort.svg", alt="filter icon")
								|Z-dən A-ya

				.row.justify-content-between.mt-3
					.col-md-6.fullCenter.mb-2
						.form-group.f-2.mt-2
							label(for='exampleFormControlInput1') Ölkə
							select.form-control.b-input.b-input--small.selectpicker(data-live-search='true' data-style="b-input")
								option(value='1') bir
								option(value='2') iki
								option(value='3') uc
								option(value='4') dord
					.col-md-6.fullCenter.mb-2
						.form-group.f-2.mt-2
							label(for='exampleFormControlInput1') Sənədləşmə
							select.form-control.b-input.b-input--small
								option(value='1') Bəyənnamə
								option(value='2') Digər
								
				
				.row.flex-column.justify-content-between.mt-4
					.col-md-12.flex-column
						-
							var values = [
								{accId: 'accordion1', popupId: 'popup1'},
								{accId: 'accordion2', popupId: 'popup2'},

								];
						each val in values
							.order-accordion.flex-column.mb-4
								.order-accordion__header
									.row.justify-content-between
										.col-sm-4.fullCenter
											.form-check.d-flex.flex-row.py-1.px-1.mt-1
												input.form-check-input(type='checkbox' id='urgent-order'+val.accId)
												label.form-check-label.ml-2(for='urgent-order'+val.accId) 
													span.ml-1 Seç
													
										.col-sm-4.fullCenter
											h2.m-0 
												span.order-accordion__h-key Mağaza:  
												span.bold.black Trendyol

										.col-sm-4.fullCenter
											h2.m-0 
												span.order-accordion__h-key Ölkə:  
												span.bold.black Türkiyə
										
										

									

								
								.order-accordion__content-wrapper
									.table-responsive
										table.table.table--borderless.table--nowrap.table--textCenter.f-18(cellspacing="20px" cellpadding="0")
											tbody
												tr.gray
													th Tarix
													th Qiymət
													th Çəki
													th Çatdırılma haqqı
													th Ölçülər
													
													
											
												tr
													td 12.12.2018
													td 100.72 TL
													td 0.778 kg
													td 6.5 $
													td 0.00x0.00x0.00

									.row.m-0.justify-content-between.f-18
										.col-sm-6.fullCenter
											a.order-accordion__link.openOrderAccordion.fullCenter(data-toggle='collapse', href='#'+val.accId) 
												img.orders__filter-icon.mr-2(src="./img/link (2).svg", alt="filter icon")
												|Bağlama içərisindəki məhsullar

										.col-sm-6.fullCenter
											a.order-accordion__link.fullCenter.openPopup(href="#"+val.popupId) 
												img.orders__filter-icon.mr-2(src="./img/airplane (1).svg", alt="filter icon")
												|Bağlama Hərəkətləri
			

								.table-responsive.order-accordion__toggle.collapse(id=val.accId)
									table.table.table--borderless.table--nowrap.table--textCenter.f-18(cellspacing="20px" cellpadding="0")
										tbody
											tr.gray.order-accordion__grayBack
												th Şəkil
												th Qiymət
												th Müştəri qeydi
												th Link
												
												
										
											tr
												td
													img.order-accordion__thumb(src="https://via.placeholder.com/44", alt="")
												td 100.72 TL
												td Rəng - mavi, ölçü blah blah blah
												td
													a.order-accordion__hlink(href="") Məhsul linki
											tr
												td
													img.order-accordion__thumb(src="https://via.placeholder.com/44", alt="")
												td 100.72 TL
												td Rəng - mavi, ölçü blah blah blah
												td
													a.order-accordion__hlink(href="") Məhsul linki
											

block popup
	.b-popup#popup1
			.b-popup__inner.p-2.px-sm-5.py-sm-4
				h1.text-center.main-color.mb-4 Tracking Map
				.row.fullCenter.m-0
					.progress-tracker__wrapper
						ul.progress-tracker.progress-tracker--text.progress-tracker--center
							li.progress-step.is-complete
								span.progress-marker 1
								span.progress-text
									h4.progress-title Step 1
									|  18.12.2018
							li.progress-step.is-complete
								span.progress-marker 2
								span.progress-text
									h4.progress-title Step 2
									|  20.12.2018
							li.progress-step.is-active
								span.progress-marker 3
								span.progress-text
									h4.progress-title Step 3
									|  18.12.2018
							li.progress-step
								span.progress-marker 4
								span.progress-text
									h4.progress-title Step 4
									|  18.12.2018
							li.progress-step
								span.progress-marker 5
								span.progress-text
									h4.progress-title Step 5
									|  18.12.2018


	.b-popup#popup2
		.b-popup__inner.p-2.px-sm-5.py-sm-4
			h1.text-center.mb-4 Təhvil Verilənlər
			.row.order-delivered.d-flex.flex-column.m-0
				.row.order-delivered__header.fullCenter.m-0.p-1
					.col-sm-4.fullCenter
						h2.m-0 
							span.order-accordion__h-key.gray Mağaza:  
							span.bold.black Trendyol
					.col-sm-4.fullCenter
						h2.m-0 
							span.order-accordion__h-key.gray Ölkə:  
							span.bold.black Türkiyə
					.col-sm-4.fullCenter
						a.order-delivered__link.fullCenter.m-0(href="") 
							img.orders__filter-icon.mr-2(src="./img/link (2).svg", alt="filter icon")
							|Məhsulun Linki

				.row.order-delivered__content.fullCenter.f-18.m-0.mt-4.mb-4.p-0
					.col-sm-6.flex-column.fullCenter.mt-3
						p.gray.m-0 Təhvil Verən
						p.black.m-0 Royana Aliyeva
					.col-sm-6.flex-column.fullCenter.mt-3
						p.gray.m-0 Təhvil Verən
						p.black.m-0 Royana Aliyeva
					.col-sm-6.flex-column.fullCenter.mt-3
						p.gray.m-0 Təhvil Verən
						p.black.m-0 Royana Aliyeva
					.col-sm-6.flex-column.fullCenter.mt-3
						p.gray.m-0 Təhvil Verən
						p.black.m-0 Royana Aliyeva
					.col-sm-6.flex-column.fullCenter.mt-3
						p.gray.m-0 Təhvil Verən
						p.black.m-0 Royana Aliyeva
					.col-sm-6.flex-column.fullCenter.mt-3
						p.gray.m-0 Təhvil Verən
						p.black.m-0 Royana Aliyeva
